.nav {
  font-size: 2rem;
  background: white;
  position: absolute;
  right: 0;
  left: 0;
  top: 3rem;
  border-radius: 1rem;
  z-index: 3;

  @include mq(1) {
    border-radius: 0;
    top: 0;
  }

  ul {
    display: flex;
    justify-content: space-around;

    @include mq(4) {
      display: none;
      flex-direction: column;
      align-items: center;
    }
  }

  li {
    padding: 1.6rem;
    @include mq(4) {
      border-radius: 2rem;
      width: 100%;
      text-align: center;
      &:last-child {
        margin-bottom: 2rem;
      }
      &:hover {
        background: $clr-primary;
        a {
          color: white;
        }
      }
    }
  }

  a {
    color: $clr-dark-grey;
    padding: 1.5rem;
    border-radius: 2rem;
    &:hover {
      background: $clr-primary;
      color: white;
    }
  }

  .toggle {
    width: 100%;
    cursor: pointer;
    background: white;
    padding: 1rem 2rem;
    text-align: right;
    color: $clr-dark-grey;
    display: none;

    @include mq(4) {
      display: block;
    }
  }

  .active {
    @include mq(4) {
      display: block;
    }
  }
}
