.section--work {
  &__post {
    color: $clr-dark-grey;
    display: flex;
    background: $clr-primary;
    border-radius: 2rem;
    margin-bottom: 5rem; //except last one, so fix this!!
  }

  &__image {
    flex: 1.5;
    background: yellow;
    border-radius: 2rem;
  }

  &__info {
    flex: 1;
    padding: 4rem;
    font-size: 1.6rem;
  }

  .info {
    &-skills {
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    &-title {
      font-size: 4rem;
      text-transform: uppercase;
      margin-bottom: 2rem;
      font-weight: normal;
    }

    &-description {
      margin-bottom: 2rem;
      line-height: 2;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;

    a {
      color: $clr-dark-grey;

      &:hover {
        color: $clr-primary;
      }
    }
  }
}
