*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  font-family: $ff;
  line-height: 1.5;
  overflow-x: hidden;
  background: $clr-light-grey;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.section {
  margin-top: 8rem;

  &__title {
    display: inline-block;
    color: $clr-dark-grey;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: normal;
    margin-bottom: 5rem;
    @include underline();
  }
}
